<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="todo.css"/>
    <title>Document</title>
</head>
<body>
    <h1>TO-DO Table!</h1>
    <hr>
    <label>Enter option: 
        <input type="text" name="option" id="option">
    </label>
    <br><br>
    <hr>
    <label>Enter a todo:
        <input type="text" name="todo" id="todo">
    </label>
    <button id="subBtn">Submit</button>

    <button id="getBtn">Get To - Do's</button>
    
    <button id="refreshBtn">Refresh</button>
    <hr>


    <table id="table" border="1" >
		<tr>
			<th>To - Do</th>
		</tr>
        {{#each students}}
        <tr><td>{{id}}</td></tr>
        {{/each}}
    </table> 

    <script>

        var optInput = document.querySelector("#option");
        var todoInput = document.querySelector("#todo");
        var tbody = document.querySelector("#tbody");
        var subBtn = document.querySelector("#subBtn");
        var getBtn = document.querySelector("#getBtn");

     //var getTodos = () =>{
     //       fetch("http://127.0.0.1:8080/todo")
     //           .then(res => res.json()) 
     //           .then(data=>{
     //                   for(var i = 0; i < data.length; i++) {
    //                    //    var tr = document.createElement("tr");
     //                   //    var td = document.createElement('td');
     //                    console.log(data[i]);
     //                   //    td.innerText = data[i].id;
     //                   //    tr.append(td);
     //                   //    table.append(tr);
     //                   }
     //           })
     //           .catch((err) => {
     //               console.log(err);
     //           });
     //      }
     //      getBtn.addEventListener('click', getTodos);

        // subBtn.addEventListener("click", function() {
        //     var check = todoInput.value !== "" && todoInput.value !== undefined;
        //     if(check) {
        //         var tr = document.createElement("tr");
        //         var td = document.createElement("td");
        //         td.innerHTML =  todoInput.value;
        //         var newTodo = {id: todoInput.value};
        //         tr.append(td);
        //         tbody.append(tr);
        //         todoInput.value = ''
        //         fetch('http://127.0.0.1:8080/todo',{ credentials: 'include' }, {
        //         method: 'post',
        //         headers: {
        //             'Content-Type': 'application/json'
        //         }, 
        //         body: JSON.stringify(newTodo)
        //         })
        //         .then(res => {
        //         if(res.ok) {
        //         return res;
        //         } else {
        //         throw Error(`Request rejected with status ${res.status}`);
        //         }
        //         })
        //         .catch(console.error)
        //     }
        // })

    //    var refreshBtn = document.querySelector("#refreshBtn");
    //    refreshBtn.addEventListener("click", function(){
    //        window.location.reload();
    //    });
      
    </script>
   
</body>
</html>