*{
    font-family: verdana;
    margin: 0;
}
body {
    background: #42c42c;
}
header{
    background-color: grey;
    color: white;
    border: 1px solid black;
    display: flex;
    margin: 0 auto;
    text-align: center;
}
header h1 {
    background: url(images/logo2.png) no-repeat center;
    background-size: 25%;
    text-indent: -10000px;
}

.container{ 
    width: 100%;

    margin: 0 auto;
}

nav {
    background-color: blueviolet;
    border: 1px solid black;  
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav a {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px;
    color: black;
}

nav a:hover {
    background-color: #555;
}
.social {
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

nav ul.social {
    display: flex;
    flex: 1 1 0;
}
nav ul.social li {
    flex: 1 1 0;
}

#showcase {
    display: flex;
    border: 1px solid black;
    background-color: crimson;
    color: white;
    text-align:center;
    line-height: 1.5;
}

img {
    width: 200px;
    height: 150px;
    border: 1px solid black;
}

.pic {
    border: 3px solid black;
    background-color: darkcyan;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.pic div {
    margin-top: 3px;
}


.texts {
    margin: 10px;

}
.texts p {
    border-bottom: 3px dotted #555;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.divs {
    padding: 20px;
    box-sizing: border-box;
    flex-basis: 30%;
}

footer {
    border: 2px solid black;
    color: grey;
    background-color: khaki;  
    height: 30px;
    display: flex; 
    justify-content: center;
    margin: 0 auto;
}
footer p{
    padding: 0;
}

@media screen and (min-width: 800px) {
    nav ul {
        display: flex;
    }
    nav li {
        flex: 1 1 0;
    }
    nav {
        display: flex;
        justify-content: space-between;
    }
    .social {
        margin: 0;
    }
    nav ul.social li {
        max-width: 100px;  
    }
    header {
        display: flex;
        flex: 1 1 0;
    }
    .pic {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
    }
    .texts {
        display: flex;
        flex: 1 1 0;
    }
    .texts p{
        border: none;
        font-size: 1rem;
    }
    .divs {

        flex-grow: 1;
    }
}