body {
    background-color: grey;
    background-repeat: no-repeat;
    background-size: cover;
}

#refreshBtn {
  margin-left: 80px;
}

#getBtn {
  margin-left: 80px;
}

table { 
  border-radius: 2px;
  border: 2px solid black;
}

 td, th { 
  border-radius: 2px;
  border: 2px solid black;
}