<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/todos.css">
    <script src="https://kit.fontawesome.com/c449c1f62a.js"></script>
</head>
<body>

    <header>
        <h1><i class="fas fa-clipboard-list"></i>   To - Do List</h1>
    </header>


    <div class="container">
        <form action="/todos" method="POST">
        <div class="form1">
            <h2>Enter a to-do!</h2>
            <p class="feedbackP"><i class="fas fa-exclamation"></i>   You need to enter a to-do!</p>
            <input class="inputTodo" type="text" name="todo" placeholder="Enter a todo!">
            <a href="#"><button id="submitButton">Submit!</button></a>
        </div>
        </form>
    </div>
    
    <div class="container todoList ">
            <h4>Your to - do items</h4>
    </div>
    <div class="container ">
            <div class="emptyDiv">
                <table class="tableClass">
                   {{#each data}}
                    <tr>
                        <form action="/todos" method="PUT">
                            <td><input id="idInput" type="text" name="id" value="{{id}}"></td>
                            <td><input type="text" name="todo" value="{{todo}}"></td>
                            <td><input type="checkbox"></td>
                            <td><button>Submit</button></td>
                        </form>   
                    </tr>
                    {{/each}}
                </table>
            </div>
        </div>

    <div class="container feedbackMain">
        <div><p class="dltFeedbackP"><i class="fas fa-exclamation"></i> You need to check a to-do!</p></div>
        <div class="deleteDiv">
                <h4>Check the items you want to delete!</h4>
                <a href=""></a><button id="dltButton">D</button>
        </div>
    </div>

</body>
</html>