<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/todos.css">
    <script src="https://kit.fontawesome.com/c449c1f62a.js"></script>
</head>
<body>

    <header>
        <h1><i class="fas fa-clipboard-list"></i>   To - Do List</h1>
    </header>


    <div class="container">
        <form action="/todos" method="POST">
        <div class="form1">
            <h2>Enter a to-do!</h2>
            <p class="feedbackP"><i class="fas fa-exclamation"></i>   You need to enter a to-do!</p>
            <input class="inputId" type="number" name="id" placeholder="ID">
            <input class="inputTodo" type="text" name="todo" placeholder="Enter a todo!">
            <a href="#"><button id="submitButton">Submit!</button></a>
        </div>
        </form>
    </div>
    
    <div class="container todoList ">
            <h4>Your to - do items</h4>
    </div>
    <div class="container ">
            <div class="emptyDiv">
                <table class="tableClass">
                   {{#each data}}
                    <tr>
                        <form action="/todos">
                            <td>
                                <input id="idInput" type="text" name="idBot" value="{{id}}">
                            </td>
                            <td>
                                <input type="text" name="todoBot" value="{{todo}}">
                            </td>
                            <td>
                                <button id="dltButton"><i class="far fa-trash-alt"></i></button>
                            </td>
                            <td>
                                <a href="#"><button>Submit</button></a>
                            </td>
                        </form>   
                    </tr>
                    {{/each}}
                </table>
            </div>
        </div>

        
    </div>
    <script>
       
/* var checkBox = () => {
        var checkboxes = document.querySelectorAll(".checkboxes");
        var checked = [];
        for(var i = 0; i < checkboxes.length; i++) {
            if(checkboxes[i].checked) {
            checked.push(checkboxes[i]);
            }
        }
        return checked;           
    }
  

    var dltButton = document.querySelector("#dltButton");
    dltButton.addEventListener("click", function() {
        let checked = checkBox();
        console.log(checked);
        for(let i = 0; i < checked.length; i++) {
            console.log(checked[i].parentElement.parentElement.firstChild);
            checked[i].parentElement.parentElement.remove();
        }   
    }); */
    
    var dltButton = document.querySelectorAll("#dltButton");
    console.log(dltButton)
    for(let i = 0; i < dltButton.length; i++) {
        dltButton[i].addEventListener("click", function() {
           this.parentNode.parentNode.remove();
           console.log(this.parentNode.parentNode.childNodes[2].textContent)
    });
 
    }
    


    </script>
</body>
</html>